<div id="note-popup">
    <div class="note-wrap">
        <div class="top"></div>
        <div class="middle">    
          <div class="note"> 
            {{{note}}}
          </div>
        </div>
        <div class="bottom-wrap">
            <div class="bottom"></div>
        </div>
    </div>
    <div id="close-popup-wrap">
      <a href="#" id="close-note"><span class="icon hideTxt"></span><span class="label"> Close Note</span></a>
    </div>
</div>