/*
Syntax error: Invalid CSS after "...te_popup_middle": expected ")", was ".png) repeat-y }"
        on line 12 of /Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/partials/_document.scss
        from line 3 of /Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/booktasks.scss

7: #note-popup 
8: {  
9:        .middle,
10:        .bottom { width: 720px }
11:           .top { @include post-sprite(note_popup_top); }
12:        .middle { background: image-url(post_middles/note_popup_middle.png) repeat-y }
13:   .bottom-wrap { background: image-url(bg.png) repeat; height: 140px; }
14:        .bottom { margin-top: -24px; @include post-sprite(note_popup_bottom); }
15:   
16:        .note { margin: 0 auto; position: relative; top: -160px; width: 640px; }
17:            p { line-height: 22px; margin-bottom: 22px; padding-top: 3px; }

Backtrace:
/Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/partials/_document.scss:12
/Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/booktasks.scss:3
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:898:in `expected'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:448:in `assert_tok'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:300:in `funcall'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:287:in `ident'
(eval):2:in `unary_not'
(eval):2:in `unary_div'
(eval):2:in `unary_minus'
(eval):2:in `unary_plus'
(eval):3:in `times_div_or_mod'
(eval):3:in `plus_or_minus'
(eval):3:in `relational'
(eval):3:in `eq_or_neq'
(eval):3:in `and_expr'
(eval):3:in `or_expr'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:266:in `space'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:251:in `interpolation'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:217:in `expr'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:442:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:442:in `assert_expr'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/script/parser.rb:49:in `parse'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:788:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:788:in `sass_script'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:662:in `value!'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:639:in `declaration'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:408:in `declaration_or_ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:872:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:872:in `rethrow'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:380:in `block_child'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:369:in `block_contents'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:361:in `block'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:417:in `declaration_or_ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:872:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:872:in `rethrow'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:380:in `block_child'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:361:in `block'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:355:in `ruleset'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:379:in `block_child'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:372:in `block_contents'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:57:in `stylesheet'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/scss/parser.rb:26:in `parse'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:319:in `_to_tree'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:250:in `to_tree'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:291:in `_render'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:238:in `render'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sass-3.1.4/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/session/abstract/id.rb:195:in `context'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/session/abstract/id.rb:190:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/head.rb:9:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sinatra-1.2.6/lib/sinatra/showexceptions.rb:21:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/methodoverride.rb:24:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sinatra-1.2.6/lib/sinatra/base.rb:1303:in `synchronize'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/router.rb:71:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/router.rb:64:in `each'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/router.rb:64:in `call'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/connection.rb:84:in `pre_process'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/connection.rb:82:in `catch'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/connection.rb:82:in `pre_process'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/connection.rb:57:in `process'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/connection.rb:42:in `receive_data'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/backends/base.rb:61:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thin-1.2.11/lib/thin/server.rb:159:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/handler/thin.rb:13:in `run'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/rack-1.3.1/lib/rack/server.rb:265:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/server.rb:44:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/server.rb:34:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/server.rb:13:in `run!'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/cli/adapter.rb:7:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/lib/padrino-core/cli/base.rb:24:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thor-0.14.6/lib/thor/task.rb:22:in `send'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thor-0.14.6/lib/thor/task.rb:22:in `run'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thor-0.14.6/lib/thor/invocation.rb:118:in `invoke_task'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thor-0.14.6/lib/thor.rb:263:in `dispatch'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/gems/thor-0.14.6/lib/thor/base.rb:389:in `start'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bundler/gems/padrino-framework-35ddb7d82650/padrino-core/bin/padrino:9
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bin/padrino:19:in `load'
/Users/kenerickson/rubyprojects/idea_vault/.local/ruby/1.8/bin/padrino:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...te_popup_middle\": expected \")\", was \".png) repeat-y }\"\A         on line 12 of /Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/partials/_document.scss\A         from line 3 of /Users/kenerickson/rubyprojects/idea_vault/app/stylesheets/booktasks.scss\A \A 7: #note-popup \A 8: {  \A 9:        .middle,\A 10:        .bottom { width: 720px }\A 11:           .top { @include post-sprite(note_popup_top); }\A 12:        .middle { background: image-url(post_middles/note_popup_middle.png) repeat-y }\A 13:   .bottom-wrap { background: image-url(bg.png) repeat; height: 140px; }\A 14:        .bottom { margin-top: -24px; @include post-sprite(note_popup_bottom); }\A 15:   \A 16:        .note { margin: 0 auto; position: relative; top: -160px; width: 640px; }\A 17:            p { line-height: 22px; margin-bottom: 22px; padding-top: 3px; }"; }
