@import "partials/base";  
@import "partials/shared";     
@import "enki";

.bar {
  width: 100%;
  height: 35px; 
  background-color: rgba(11, 11,11, 0.8);        
  padding: 0 15px 0 0 25px;   
  margin: 50px 0 0 3px;  
  position: relative; 
  z-index: 100;  
  
  .share 
  {
    float: right; 
    margin: -24px 15px 0 0; 
    color: rgba(211, 211, 211, 0.8);   
    font-weight: normal;
    font-size: 11px;  
    &:hover {      
      color: rgba(211, 211, 211, 1.0);
      text-decoration: none;
    }
  }
  
  .title {
    display: block;
    text-align: center;  
    color: #fefefe; 
    padding-top: 4px;
  }
}    

.download {
  float: right;   
  position: relative; 
  margin-right: -5px;
  top: 0px;
  a { @include download-itunes; text-decoration: none; }      
}

.desc {
  width: 700px;
  float: left;
}   

.file { width: 800px; margin: 0px auto; }
.preview_image 
{
  margin: -38px auto 0 auto; 
  width: 800px;  
  
  img {
    border: 3px solid #fefefe;
  }
}