@import "partials/base";  
@import "partials/shared";     
@import "enki";  

.bar {
  width: 100%;
  height: 35px; 
  background-color: rgba(11, 11,11, 0.8);        
  padding: 0 15px 0 0 25px;   
  margin: 50px 0 0 3px;  
  position: relative; 
  z-index: 100;  
  
  .share 
  {
    float: right; 
    margin: -24px 15px 0 0; 
    color: rgba(211, 211, 211, 0.8);   
    font-weight: normal;
    font-size: 11px;  
    &:hover {      
      color: rgba(211, 211, 211, 1.0);
      text-decoration: none;
    }
  }
  
  .title {
    display: block;
    text-align: center;  
    color: #fefefe; 
    padding-top: 4px;
  }
} 

.download {
  float: right;   
  position: relative; 
  margin-right: -5px;
  top: 0px;
  a { @include download-itunes; }      
}

.desc {
  width: 700px;
  float: left;
} 
.file { width: 800px; margin: 0px auto; }


.preview 
{
  margin: 0 auto;
  font-family: Georgia, Palatino, serif;
  color: #444444;
  line-height: 1;
  max-width: 960px;
  padding: 30px;    
  background-color: #fff;
  
  h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
  }   
  
  h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
  } 
  
  h1 { font-size: 48px }
  h2 { font-size: 36px; margin: 24px 0 6px; }
  h3 { font-size: 24px }
  h4 { font-size: 21px }
  h5 { font-size: 18px }

  a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }    
  
  ul, ol {
    padding: 0;
    margin: 0;
  } 
  
  li {
    line-height: 24px;
  }   
  
  p, ul, ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
  }  
  
  pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
  } 
  
  code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
  } 
  
  aside {
    display: block;
    float: right;
    width: 390px;
  }  
  
  blockquote {
    margin: 1em 2em;
    max-width: 476px;
  }
    blockquote p {
      color: #666;
      max-width: 460px;
    }  
  
  hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
  }
}